.signupBtn {
    width: 100%;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupBtnContainer {
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupIcon {
    margin-right: 18px;
    font-size: 20px;
    display: inline-block;
    transform: translateY(4px);
}